
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }
  
  /* Your unique font class */
  /*.martian-mono-custom {
    font-family: "Martian Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400; /* Example weight; adjust as needed 
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }*/
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 100;
    background: transparent;
    font-family: "Poppins", sans-serif;
  }
  
  .nav-container {
    display: flex;
    align-items: center;
  }
  
  .logo-text {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    margin-left: 10px;
    @media (max-width: 450px) {
      font-size: 1.2rem;
    }
  }
  
  .highlight {
    color: #ee0962
  }
  
  .nav-links {
    margin-right: 2rem;
    text-decoration: none;
    color: #fff;
    padding: 0rem 1rem;
  }
  
  .nav-link {
    text-decoration: none;
  }
  
  .hero {
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    padding: 10px 10%;
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    overflow: hidden;
    background: linear-gradient(0deg, #575757, #000000);
    position: relative;
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.93), 
      rgba(0, 0, 0, 0.93) 
    ), url('circuit.png'); /* Set your background image here */
  }
  
  .hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column; 
    justify-content: center; 
    text-align: center; 
    width: 100%;
    height: 100%;
  }
  
  nav {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    max-width: 80px;
    width: auto;
    @media (max-width: 450px) {
      width: 60px;
    }
  }
  
  .btn {
    display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    color: #fff;
    background-image: linear-gradient(80deg, #a96f44, #ff99c1, #ee0962);
    font-size: 14px;
    border-radius: 30px;
    border-top-right-radius: 0;
    transition: 0.5s;
  }
  
  .content{
    margin-top: 10%;
    max-width: 800px;
    @media (max-width: 450px) {
      margin-top: 50%;
      align-items: center;
      justify-content: center;
    }
  }
  
  .content h1{
    font-size: 70px;
    color: #fff;
    @media (max-width: 450px) {
      font-size: 50px;
    }
  }
  
  .content p {
    margin: 10px 0 30px;
    color: #fff;
    font-size: 20px;
    animation-delay: 0.5s;
  }
  
  .content .btn {
    padding: 20px 80px;
    font-size: 16px;
    animation-delay: 1.4s;
    margin-top: 30px;
  }

  .content .value {
    animation-delay: 0.7s;
    color: #ff99c1;
  }
  
  .btn:hover {
    border-top-right-radius: 30px;
  }
  
  .anim {
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
  }
  
  .fade-in {
    opacity: 0;
    animation: fadeIn 0.5s ease-in forwards; 
  }
  
  @keyframes fadeIn {
    100% {
      opacity: 1;
    }
  }
  
  @keyframes moveup {
    100%{
      opacity: 1;
      transform: translateY(0px);
    }
  }
  
  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: #000000
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #575757;
    border-radius: 6px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  @supports (--css: variables) {
    .hero {
      padding-top: env(safe-area-inset-top);
      padding-right: env(safe-area-inset-right);
      padding-bottom: env(safe-area-inset-bottom);
      padding-left: env(safe-area-inset-left);
    }
  }